body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
   }
   header {
    background-color: #325551;
    color: white;
    padding: 10px;
    text-align: center;
    }nav {
     background-color: #019691;
    padding: 10px;
    }nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    }nav li {
     margin: 0;
    }nav a {
     color: #333;
     text-decoration: none;
    font-weight: bold;
    padding: 10px;
     border-radius: 5px;
    }nav a:hover {
     background-color: #333;
     color: white;
   }main {
    max-width: 800px;
    margin: 0 auto;
   padding: 20px;
   }section {
    background-color: #ffffff;
   margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }h2 {
    color: #086c43;
   }p {
   line-height: 1.5;
   }
   li #specialelink {
    /* voeg !important toe aan alle CSS-regels */
    background-color: #019691 !important;
    color: #333 !important;
    text-decoration: none !important;
    font-weight: bold !important;
    padding: 10px !important;
    border-radius: 10px !important;
    list-style: none !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 240px !important;
    margin-right: 240px !important;
    display: flex !important;
    justify-content: space-around !important;
  }
   li a#specialelink:hover {
    background-color: #333 !important;
    color: white !important;
    list-style: none !important;
   }